/* Global Styles */
* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

body {
    background: #080808;
    color: #fff;
}

/* Header Section */
header {
    width: 100%;
    height: 100vh;
    background-image: url(https://i.postimg.cc/1zHhQfsb/background-image.jpg);
    background-size: cover; /* Full-cover background */
    background-repeat: no-repeat;
    background-position: center right;
}

img {
    width: 150px;
}

.header-container {
    padding: 10px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    flex-wrap: wrap;
}

nav ul li {
    display: inline-block;  
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;  
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0%;
    height: 3px;
    background: #ff004f; 
    position: absolute;   
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

.header-text {
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1 {
    font-size: 60px;
    margin-top: 20px;
}

.header-text h1 span {
    color: #ff004f;
}

/* About Me Section */
#about {
    padding: 80px 0;
    color: #ababab;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
}

.about-col-1 img {
    width: 100%;
    border-radius: 15px;
}

.about-col-2 {
    flex-basis: 60%;
}

.sub-title {
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    margin-right: 50px;     
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0%;
    height: 3px;
    background: #ff004f; 
    position: absolute;   
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 50%;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

/* Projects Section */
#projects {
    padding: 30px 0;
}

.project-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.project-list div {
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.project-list div:hover {
    transform: translateY(-5px);
}

.project-list div i {
    font-size: 50px;
    margin-bottom: 30px;
    color: #ff004f;
}

.project-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.project-list div a {
    text-decoration: none;
    color: #ff004f;
    font-size: 14px;
    margin-top: 20px;
    display: inline-block;
    transition: color 0.3s;
}

.project-list div a:hover {
    color: #fff;
    background-color: #ff004f;
    padding: 5px 10px;
    border-radius: 5px;
}
